<div class="d-flex">
  <a class="navbar-brand" routerLink="/">RECIPEBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/recipes">Recipes</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/shopping">Shopping List</a>
      <button class="nav-item nav-link btn btn-outline-success" (click)="onLogin()">Login</button>
      <button class="nav-item nav-link btn btn-outline-success" (click)="onLogout()">Logout</button>
    </div>
  </div>
</div>
