<div class="d-flex">
  <a class="navbar-brand" href="#">RECIPEBook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <app-header-nav-link href="#" name="Recipes"></app-header-nav-link>
      <app-header-nav-link href="#" name="Shopping List"></app-header-nav-link>
    </div>
  </div>
</div>
