<div class="row mt-3">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-4 form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" name="name" [(ngModel)]="name">
        </div>
        <div class="col-sm-1 form-group">
          <label for="amount">Amount</label>
          <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="amount">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onIngredientAdded()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
