<div class="row">
  <div class="col-xs-12">
    <div class="btn btn-success">New Recipe</div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-xs-12">
    <a *ngFor="let r of recipes" class="list-group-item clearfix text-dark" style="cursor: pointer">
      <div class="pull-left">
        <h4 class="list-group-item-heading text-success" style="font-family: cursive">{{ r.name }}</h4>

        <div class="row">
          <div class="col-10">
            <p class="list-group-item-text">{{ r.description }}</p>
          </div>
          <div class="col-2">
            <span class="pull-right">
              <img [src]="r.imagePath" class="img-responsive" style="max-height: 50px" alt="">
            </span>
          </div>
        </div>
      </div>
    </a>
    <app-recipe-item></app-recipe-item>
  </div>
</div>
